

.footer-content{
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    background-color: #2c2d2e;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.footer-content .socials{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.socials img{
    position: relative;
    width: 40px;
    margin: 15px;
}

.footer-content .icones{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icones li a{
    width: 100%;
    transition: none;
}

.footer-content h3{
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer-content p{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 7px;
}