*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


nav {
	background: #2670e0;
	height: 80px;
	width: 100%;
	box-shadow: 0 2px 2px;
}
label.logo {
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
}
a.active,  nav ul li a:hover {
	background: #093add;
	transition: .5s;
	border-radius: 15px;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	.checkbtn {
		display: block;
	}
	ul{
		position: absolute;
		width: 100%;
		background: #2670e0;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	nav ul li a:hover, a.active {
		background: #093add;
		color: #e6e6e6;
		border-radius: 15px;
	}
	#check:checked ~ ul {
		left: 0;
	}
}

.conteudo{
    display: flex;
    align-content: center;
    margin: 15px;
    padding: 5px;
}

.conteudo .objetivo{
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.objetivo img{
    width: 700px;
}